body{
  padding-top:150px;
}

.navbar-header a.navbar-brand{
  margin-top: -15px;
  margin-bottom: -20px;
}

footer{
  padding: 0 15px;

  >p{
    border-top: 1px solid #d7e0e2;
  }
}

.navbar-form{
  .form-group{
    margin-left: 10px;
  }
  button{
    margin-left: 10px;
  }
}

.toast-top-right{
  top: 70px;

}

.toast-success{
  background-color: #13987e;
}