.navbar-right(ng-controller="mvNavBarLoginController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        ul.nav.navbar-nav
            li
                a(href="/signup") Sign up
        .form-group
            input.form-control(placeholder="email", ng-model="username")
        .form-group
            input.form-control(placeholder="password", type="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="signout()") Sign out
