.container
    .well
        form.form-horizontal(name ="profileForm")
            fieldset
                legend User Profile
                    .form-group
                        label.col-md-2.control-label(for="email") Email
                        .col-md-10
                            input.form-control(name="email", type="email", placeholder="Email", data-ng-model="email", required)
                    .form-group
                        label.col-md-2.control-label(for="fname") First Name
                        .col-md-10
                            input.form-control(name="fname", type="text", placeholder="First Name", data-ng-model="fname", required)
                    .form-group
                        label.col-md-2.control-label(for="lname") Last Name
                        .col-md-10
                            input.form-control(name="lname", type="text", placeholder="Last Name", data-ng-model="lname", required)
                    .form-group
                        label.col-md-2.control-label(for="password") Password
                        .col-md-10
                            input.form-control(name="password", type="password", placeholder="Password", data-ng-model="password")
                    .form-group
                        .col-md-10.col-md-offset-2
                            .pull-right
                                button.btn.btn-primary(ng-click="update()", ng-disabled="signupForm.$invalid") Update
                                | &nbsp;
                                a.btn.btn-default(href="/") Cancel
