doctype
html
    head
        title MultiVision
        //link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/less/main.css")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts