script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.min.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mvMainController.js")
script(type="text/javascript", src="/app/account/mvNavBarLoginController.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/admin/mvUserListController.js")
script(type="text/javascript", src="/app/account/mvSignupController.js")
script(type="text/javascript", src="/app/account/mvProfileController.js")
script(type="text/javascript", src="/app/courses/mvCourseListController.js")
script(type="text/javascript", src="/app/courses/mvCourse.js")
script(type="text/javascript", src="/app/courses/mvCachedCourses.js")




