.container
    .jumbotron
        h1 MultiVision
        p Welcome to MultiVision! The best company to bring noobs like u together and fall over from this awesome website made by me(batman)!

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")